<div class="main-content">
<!-- <div id="main-div"> -->
  <div class="row">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h2>Upload</h2>
      </div>
      <div>
        <app-box></app-box>
      </div>
      <div class="card-content">
        <input type="file" id="save" (change)="onFileChange($event)" #fileInput>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h2>Verify</h2>
      </div>
      <div>
        <app-box></app-box>
      </div>
      <div class="card-content">
        <input type="file" id="find" (change)="onFileChangeFind($event)" #fileFind>
      </div>
    </div>
  </div>

</div>
