<div class="main-content">
  <div class="alert alert-success" *ngIf="registred">
    <div class="container-fluid">
      <div class="alert-icon">
        <i class="material-icons">check</i>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="material-icons">clear</i></span>
      </button>
      Smart meter added successfully. waiting for validation
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="red">
          <h4 class="title">Smart meters</h4>
        </div>
        <div class="card-content table-responsive">
          <table class="table">
            <thead class="text-danger">
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Date</th>
              <th>State</th>
              <th>Validate</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meter of meters">
              <td>{{meter.meter.name}}</td>
              <td>{{meter.meter.location}}</td>
              <td>{{meter.meter.date}}</td>
              <td class="text-danger">{{meter.meter.state}}</td>
              <td>
                <button type="button" rel="tooltip" title="Edit Task" *ngIf="!meter.meter.state" (click)="enableMeter(meter._id)"
                        class="btn btn-primary btn-simple btn-xs">
                  <i class="material-icons">check</i>
                </button>
                <button type="button" rel="tooltip" title="Edit Task" *ngIf="meter.meter.state" (click)="disableMeter(meter._id)"
                        class="btn btn-primary btn-simple btn-xs">
                  <i class="material-icons">close</i>
                </button>
              </td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>
