<div class="main-content">
  <div class="card">
    <div class="card-header" data-background-color="blue">
      <div class="content-1">
        <h1>Au Revoir</h1>
      </div>
    </div>
    <div id="content">
      <button type="button" (click)="signIn()" class="btn btn-warning pull-right">Log out</button>
    </div>
  </div>
</div>
