h1
{
  text-align: center;
}
#content
{
  text-align: center;
  background-color: #FFFFFF;
  background-image: url("../../assets/img/edf.png");
  background-repeat: no-repeat;
  background-position: center;
  height:800px;
  width: 100%;
}
a
{
  font-size: 35px;
  color:#00CED1;
  position:relative;
  top:100px;
}
