<div class="main-content">
  <div class="card">
    <div class="card-header" data-background-color="navy">
      <div class="content-1">
        <h1>Bienvenue</h1>
      </div>
    </div>
    <div id="content">
      <a href=auth>S'authentifier</a>
    </div>
  </div>
</div>
