<div class="wrapper">
  <div class="sidebar" data-color='blue' data-image="" >
  <!--<div class="sidebar" [hidden]="!isMaps('auth')||!isMaps('register')||!isMaps('admin')" data-color='red' data-image="" >-->
      <app-sidebar></app-sidebar>
      <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)" ></div>
  </div>
  <div class="main-panel">
    <div class="navbar" style="background-color:#FFFFFF; height:80px">
      <app-navbar></app-navbar>
    </div>
  <!--<app-navbar [hidden]="!isMaps('auth')||!isMaps('register')||!isMaps('admin')"></app-navbar>-->
    <router-outlet></router-outlet> 
    <div *ngIf="isMaps('maps')"></div>
  <!--</div>-->
    <div class="footer" style="background-color:#000080; height:100px">
      <app-footer></app-footer>
    </div>
  </div>
</div>
