<div class="main-content">
  <div class="card">
    <div class="card-header" data-background-color="orange">
      <h1 class="title">Log in</h1>
    </div>
      <div class="card-content">
        <form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Username</label>
                <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone:
  true}">
              </div>
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Password</label>
                <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone:
  true}">
              </div>
            </div>
          </div>
          <button type="button" (click)="submitForm()" class="btn btn-danger pull-right">Log in</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
</div>
