<div class="main-content">
    <div class="container-fluid">
      <div class="alert alert-success" *ngIf="registred">
        <div class="container-fluid">
          <div class="alert-icon">
            <i class="material-icons">check</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
           Account created successfully. <a href="/auth">Log in</a>
        </div>
      </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Sign in</h4>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone:
   true}" >
                                    </div>
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Password</label>
                                        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone:
   true}" >
                                    </div>
                                </div>
                            </div>
                            <button type="button" (click)="submitForm()" class="btn btn-danger pull-right">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
