<div class="main-content">
  <div class="alert alert-success" *ngIf="registred">
    <div class="container-fluid">
      <div class="alert-icon">
        <i class="material-icons">check</i>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="material-icons">clear</i></span>
      </button>
      Smart meter added successfully. waiting for validation
    </div>
  </div>
  <div class="card card-nav-tabs">
    <div class="card-header" data-background-color="red">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <span class="nav-tabs-title"></span>
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active">
              <a href="#profile" data-toggle="tab">
                <i class="material-icons">list</i>
                Smart Meters
                <div class="ripple-container"></div></a>
            </li>
            <li class="">
              <a href="#messages" data-toggle="tab">
                <i class="material-icons">alarm_add</i>
                Add smart meter
                <div class="ripple-container"></div></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="tab-content">
        <div class="tab-pane active" id="profile">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-content table-responsive">
                  <table class="table">
                    <thead class="text-danger">
                    <tr>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Date</th>
                      <th>State</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let meter of meters">
                      <td>{{meter.meter.name}}</td>
                      <td>{{meter.meter.location}}</td>
                      <td>{{meter.meter.date}}</td>
                      <td class="text-danger">{{meter.meter.state}}</td>
                    </tr>

                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="tab-pane" id="messages">
          <form>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Name</label>
                  <input type="text" class="form-control" [(ngModel)]="meter.name" [ngModelOptions]="{standalone:
   true}" >
                </div>
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Location</label>
                  <input type="text" class="form-control" [(ngModel)]="meter.location" [ngModelOptions]="{standalone:
   true}" >
                </div>
              </div>
            </div>
            <button type="submit" (click)="addMeter()" class="btn btn-danger pull-right">Add</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
