table
{
    border-collapse: collapse;
    width:100%;
}

tbody, thead
{
  border: 1px solid LightGreen;
}

th
{
    /* border: 1.5px solid darkgrey; */
    height:70px;
    text-align:center;
    font-size: 20px;
}

td
{
    height:50px;
    text-align:center;
    padding:15px;
    font-size: 15px;
}

tr:hover {background-color: #ffe4e1;}
