<div class="main-content">
<div class="card card-nav-tabs">
  <div class="card-header" data-background-color="green">
    <div class="nav-tabs-navigation">
      <h1>Historique   des fichiers certifiés</h1>
    </div>
  </div>
  <div class="card-content">
    <div class="tab-content">
      <table>
        <thead>
         <tr>
             <th>User</th>
             <th>TimeStamp</th>
             <th>Hash</th>
         </tr>
       </thead>
       <tbody>
         <tr>
             <td style="color:MediumSeaGreen"><strong>Exemple</strong></td>
             <td>En</td>
             <td>Dur</td>
         </tr>
         <tr>
             <td style="color:MediumSeaGreen"><strong>Liz</strong></td>
             <td>28-05-2018</td>
             <td>Hbvelqnrgeos845dh1ytd53j4y8td6j4</td>
         </tr>
         <tr>
             <td style="color:MediumSeaGreen"><strong>Nada</strong></td>
             <td>08-12-2018</td>
             <td>Dgr4e8s63g1tr83h1tr839ydtjyt8dj1jd</td>
         </tr>
         <tr>
             <td style="color:MediumSeaGreen"><strong>Man-Yee</strong></td>
             <td>01-01-2018</td>
             <td>Chuiezmfr4g83sh15tr63h1tr5s81rsh1r</td>
         </tr>
       </tbody>
      </table>
  </div>
  </div>
</div>
</div>

<!--    <div class="nav-tabs-wrapper">
      <span class="nav-tabs-title"></span>
      <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="active">
          <a href="#profile" data-toggle="tab">
            <i class="material-icons">payment</i>
            Transfer coins
            <div class="ripple-container"></div></a>
        </li>
        <li class="">
          <a href="#messages" data-toggle="tab">
            <i class="material-icons">add_shopping_cart</i>
            Credit wallet
            <div class="ripple-container"></div></a>
        </li>
        <li class="">
          <a href="#settings" data-toggle="tab">
            <i class="material-icons">euro_symbol</i>
            Discount
            <div class="ripple-container"></div></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card-content">
  <div class="tab-content">
    <div class="tab-pane active" id="profile">
        <form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Amount</label>
                <input type="text" class="form-control" [(ngModel)]="amount" [ngModelOptions]="{standalone:
 true}" >
              </div>
               <div>
                 <input [(ngModel)]="selected"
                        [typeahead]="beneficiaries"
                        typeaheadOptionField="beneficiary.credentials.username"
                        placeholder="Beneficiaries"
                        (typeaheadOnSelect)="typeaheadOnSelect($event)"
                        class="form-control" [ngModelOptions]="{standalone:
 true}">
               </div>
            </div>
          </div>
          <button type="submit" (click)="submitForm()" class="btn btn-success pull-right">transfer</button>
          <div class="clearfix"></div>
        </form>
    </div>
    <div class="tab-pane" id="messages">
      <form>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group form-black label-floating is-empty">
              <label class="control-label">Amount</label>
              <input type="text" class="form-control" [(ngModel)]="amountCredit" [ngModelOptions]="{standalone:
 true}" >
            </div>
        </div>
        </div>
        <button type="button" (click)="credit()" class="btn btn-success pull-right">credit</button>
        <div class="clearfix"></div>

      </form>
    </div>
    <div class="tab-pane" id="settings">
      <form>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group form-black label-floating is-empty">
              <label class="control-label">Amount</label>
              <input type="text" class="form-control" [(ngModel)]="amountDiscount" [ngModelOptions]="{standalone:
 true}" >
            </div>
          </div>
        </div>
        <button type="button" (click)="discount()" class="btn btn-success pull-right">Discount</button>
        <div class="clearfix"></div>

      </form>
    </div>-->
