.box {
  display: block;
  border:dashed;
  border-color: navy;
  height: 250px;
  width: 250px;
  background-color: white;
  position:relative;
  left:25px;
  background-image: url("../../../assets/img/baseline_cloud_upload_black_18dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(192,192,192,0.1);
}

h3{
  color:orange;
  position:relative;
  left:25px;
}
