<div class="sidebar-wrapper">
  <!--  <div class="nav-container"> -->
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
  <!--  </div>-->
</div>
